.radix-themes {
  --spinner-animation-duration: 800ms;
  --spinner-opacity: 0.65;
}

.rt-Spinner {
  display: block;
  position: relative;
  opacity: var(--spinner-opacity);
  /* Single GPU-composited rotation instead of 8 opacity animations */
  animation: rt-spinner-rotate var(--spinner-animation-duration) steps(8, end) infinite;
}

.rt-SpinnerLeaf {
  position: absolute;
  top: 0;
  left: calc(50% - 12.5% / 2);
  width: 12.5%;
  height: 100%;
  /* Static opacity - no animation, values decrease around the circle */

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 30%;
    border-radius: var(--radius-1);
    background-color: currentColor;
  }

  /* Each leaf has static transform and opacity - no runtime animation */
  &:where(:nth-child(1)) {
    transform: rotate(0deg);
    opacity: 1;
  }
  &:where(:nth-child(2)) {
    transform: rotate(45deg);
    opacity: 0.9;
  }
  &:where(:nth-child(3)) {
    transform: rotate(90deg);
    opacity: 0.8;
  }
  &:where(:nth-child(4)) {
    transform: rotate(135deg);
    opacity: 0.7;
  }
  &:where(:nth-child(5)) {
    transform: rotate(180deg);
    opacity: 0.55;
  }
  &:where(:nth-child(6)) {
    transform: rotate(225deg);
    opacity: 0.4;
  }
  &:where(:nth-child(7)) {
    transform: rotate(270deg);
    opacity: 0.3;
  }
  &:where(:nth-child(8)) {
    transform: rotate(315deg);
    opacity: 0.2;
  }
}

@keyframes rt-spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}

/* Enhanced reduced motion support */
@media (prefers-reduced-motion: reduce) {
  .rt-Spinner {
    animation: none;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-Spinner {
    &:where(.rt-r-size-1) {
      width: var(--space-3);
      height: var(--space-3);
    }
    &:where(.rt-r-size-2) {
      width: var(--space-4);
      height: var(--space-4);
    }
    &:where(.rt-r-size-3) {
      width: calc(1.25 * var(--space-4));
      height: calc(1.25 * var(--space-4));
    }
  }
}
